/*  user-wrapper */
.user-wrapper {
	min-height: 100vh;
	height: -webkit-fill-available;
	display: grid;
	grid-template-rows: auto auto 1fr;

	padding: 3rem 3%;
}

/* user-header */
.user-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 8rem;
}

/* brand */
.brand h1 {
	font-size: 5rem;
	color: var(--color-light-gray);
}

/* link */
.link {
	display: block;
	font-size: 2.25rem;
	color: var(--color-primary);

	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

/* user-info-deposit */
.user-info-deposit {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 5rem;
}

/* user-history */
.user-history h2 {
	font-size: 3.5rem;
	color: var(--color-primary);
	margin-bottom: 1.25rem;
}

/* link-history */
.link-history {
	font-size: 2rem;
	color: var(--color-dark-gray);

	cursor: pointer;
}

.link-history:hover {
	text-decoration: underline;
}

/* responsiveness */
@media screen and (max-width: 730px) {
	.user-header {
		flex-direction: column;
	}

	/* menu */
	.menu {
		margin-top: 0.8rem;
	}

	.user-info-deposit {
		display: block;
	}
}

@media screen and (max-width: 650px) {
	.user-header {
		margin-bottom: 5rem;
	}

	.user-info-deposit {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.user-history h2 {
		font-size: 3rem;
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	.brand {
		margin-bottom: 1rem;
	}

	.user-wallet {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
