/* form-content */
.form-content {
	grid-area: "form";
	justify-self: center;
	align-self: center;
	width: 70%;
}

/* form-text */
.form-text {
	color: var(--color-secondary);
	margin-bottom: 4rem;
}

.form-text h2 {
	font-size: 4rem;
	margin-bottom: 1.25rem;
}

.form-text p {
	font-size: 2rem;
}

/* fields-group*/
.fields-group {
	margin-bottom: 4rem;
}

/* field-group */
.field-group {
	color: var(--color-secondary);
	width: 100%;
	margin-bottom: 2rem;
}

.field-group label {
	font-size: 2rem;
	margin-bottom: 1.25rem;
}

.field-group input {
	width: 100%;
	padding: 0.8rem 1.8rem;

	background-color: var(--color-secondary);
	border: none;
	border-radius: var(--input-default-radius);
}

/* action-form */
.action-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.action-form button {
	width: 30%;
	padding: 0.8rem 1.8rem;
	background-color: var(--color-secondary);

	font-size: 2rem;
	color: var(--color-primary);
}

/* responsiveness */
@media screen and (max-width: 860px) {
	.action-form button {
		padding: 1rem 1.8rem;
		width: 60%;
	}
}

@media screen and (max-width: 530px) {
	.action-form button {
		width: 80%;
	}
}
